{{#each teams as |team|}}
  <tr>
    <td>{{team.name}}</td>
    <td>{{team.area.name}}</td>
    <td><a href='/{{team.name}}/{{team.tla}}/ver'>VER</a>-<a>EDITAR</a>-<a href='/{{team.name}}/{{team.tla}}/delete'>ELIMINAR</a></td>  
  </tr>
{{/each}}

